// ----------------------------
// Zerodha Color Palette
// ----------------------------

// Brand Colors
$primary-blue: #387ed1; // Zerodha blue
$dark-blue: #1f4f82;
$light-blue: #e8f3ff;

// Text Colors
$text-dark: #424242;
$text-light: #666666;
$text-muted: #9b9b9b;

// Background Colors
$bg-light: #f8f9fa;
$bg-grey: #f2f2f2;

// Border
$border-grey: #e6e6e6;

// Success & Error
$success: #00b386;
$error: #ff5722;

// ----------------------------
// Typography
// ----------------------------
$font-base: "Inter", serif;

// Small Screen Font Sizes
$h1-sm: 1.5rem; // 24px
$h2-sm: 1.25rem; // 20px
$h3-sm: 1.25rem; // 20px

$p-sm: 1rem; // 16px

// Large Screen Font Sizes
$h1-lg: 1.75rem; // 28px
$h2-lg: 1.5rem; // 24px


// ----------------------------
// Spacing
// ----------------------------
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// ----------------------------
// Container Widths
// ----------------------------
$container-width: 1100px;
