.openAccount {
  width: 100%;
  padding: 30px 20px;
  text-align: center;

  .openAccount-container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;

    h2 {
      font-size: 20px;
      color: #424242;
      line-height: 1.25;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      color: #666666;
      line-height: 1.8;
      font-weight: 400;
      margin: 16px 0 15px;
    }

    .btn {
      margin-top: 20px;
    }
  }

  @media (min-width: 820px) {
    padding: 40px 0 80px;

    .openAccount-container {
      h2 {
        font-size: 24px;
      }
    }
  }
}
