.home-hero {
  width: 100%;
  margin-top: 4vh;
  padding: 30px 20px;
}
.home-hero_container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.home-hero_container img {
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}
.home-hero_container h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}
.home-hero_container p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 10px 0 15px;
}
.home-hero_container .home-hero_btn {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .home-hero {
    margin-top: 10vh;
  }
  .home-hero_container img {
    margin-bottom: 60px;
  }
}
@media (min-width: 820px) {
  .home-hero {
    padding: 0 20px 120px;
  }
  .home-hero_container h1 {
    font-size: 1.75rem;
  }
}

.ecosystem {
  width: 100%;
  margin-top: 30px;
  padding: 30px 20px;
}
.ecosystem_container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.ecosystem_container .ecosystem_left {
  flex: 1 1 auto;
}
.ecosystem_container .ecosystem_left h2 {
  font-size: 1.25rem;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.5;
}
.ecosystem_container .ecosystem_left .ecosystem__why h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
}
.ecosystem_container .ecosystem_left .ecosystem__why p {
  font-size: 1rem;
  color: #666666;
  line-height: 1.8;
  font-weight: 400;
  margin: 5px 0 32px;
}
.ecosystem_container .ecosystem_left .ecosystem__why p span {
  color: #387ed1;
}
.ecosystem_container .ecosystem__right {
  flex: 1 1 auto;
}
.ecosystem_container .ecosystem__right img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.ecosystem_container .ecosystem__right .ecosystem__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
.ecosystem_container .ecosystem__right .ecosystem__links p {
  font-size: 1rem;
  color: #387ed1;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}
.ecosystem_container .ecosystem__right .ecosystem__links .ecosystem__link--indent {
  margin-left: 24px;
}
.ecosystem .ecosystem__press {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecosystem .ecosystem__press img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .ecosystem .ecosystem__press img {
    width: 710px;
    height: 40px;
  }
}
@media (min-width: 820px) {
  .ecosystem {
    padding: 0 20px 120px;
  }
  .ecosystem_container {
    gap: 30px;
  }
  .ecosystem_container .ecosystem_left {
    flex: 1 1 39%;
  }
  .ecosystem_container .ecosystem_left h2 {
    font-size: 24px;
  }
  .ecosystem_container .ecosystem__right {
    flex: 1 1 56%;
  }
}

.home-pricing {
  width: 100%;
  padding: 30px 20px;
}
.home-pricing_container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.home-pricing_container .home-pricing_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-pricing_container .home-pricing_detail .home-pricing_left {
  flex: 1 1 auto;
}
.home-pricing_container .home-pricing_detail .home-pricing_left h2 {
  font-size: 1.25rem;
  color: #424242;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}
.home-pricing_container .home-pricing_detail .home-pricing_left p {
  font-size: 1rem;
  color: #424242;
  line-height: 1.8;
  font-weight: 400;
  margin: 16px 0 15px;
}
.home-pricing_container .home-pricing_detail .home-pricing_right {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.home-pricing_container .home-pricing_detail .home-pricing_right .pricing_box {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.home-pricing_container .home-pricing_detail .home-pricing_right .pricing_box img {
  width: 85px;
  height: 62px;
}
.home-pricing_container .home-pricing_detail .home-pricing_right .pricing_box p {
  font-size: 10px;
  color: #666666;
  line-height: 16px;
  font-weight: 400;
}
.home-pricing_container .home-pricing-cta {
  font-size: 1rem;
  color: #387ed1;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 15px;
  padding-left: 10px;
}
.home-pricing_container .home-pricing-cta i {
  font-size: 14px;
  margin-left: 10px;
}
@media (min-width: 820px) {
  .home-pricing {
    padding: 0 20px 120px 20px;
  }
  .home-pricing .home-pricing_container .home-pricing_detail {
    flex-direction: row;
    gap: 20px;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_left {
    flex: 1 1 35%;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_left h2 {
    font-size: 1.5rem;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_right {
    flex: 1 1 50%;
  }
}
@media (min-width: 1024px) {
  .home-pricing .home-pricing_container .home-pricing_detail {
    gap: 20px;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_right .pricing_box img {
    width: 100px;
    height: 73px;
  }
}
@media (min-width: 1124px) {
  .home-pricing .home-pricing_container .home-pricing_detail {
    flex-direction: row;
    gap: 20px;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_left {
    flex: 1 1 35%;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_right {
    flex: 1 1 50%;
  }
  .home-pricing .home-pricing_container .home-pricing_detail .home-pricing_right .pricing_box img {
    width: 120px;
    height: 88px;
  }
}

.home-education {
  width: 100%;
  padding: 30px 20px;
}
.home-education .home-education_container {
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-education .home-education_container .home-education_left {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-education .home-education_container .home-education_left img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.home-education .home-education_container .home-education_right {
  flex: 1 1 auto;
}
.home-education .home-education_container .home-education_right h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;
}
.home-education .home-education_container .home-education_right p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  margin: 16px 0 15px;
}
.home-education .home-education_container .home-education_right a {
  text-decoration: none;
  font-size: 16px;
  color: #387ed1;
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
}
.home-education .home-education_container .home-education_right a i {
  font-size: 14px;
  margin-left: 10px;
}
.home-education .home-education_container .home-education_right .tradingQA {
  margin: 30px 0 15px;
}
@media (min-width: 768px) {
  .home-education .home-education_container .home-education_left img {
    width: 477px;
    height: 350px;
  }
}
@media (min-width: 820px) {
  .home-education {
    padding: 0 20px 100px;
  }
  .home-education .home-education_container {
    flex-direction: row;
    gap: 12%;
  }
  .home-education .home-education_container .home-education_left {
    flex: 1 1 30%;
  }
  .home-education .home-education_container .home-education_left img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .home-education .home-education_container .home-education_right {
    flex: 1 1 36%;
  }
  .home-education .home-education_container .home-education_right h2 {
    font-size: 24px;
  }
}/*# sourceMappingURL=home.css.map */