@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoints" as *;

.home-hero {
  width: 100%;
  margin-top: 4vh;
  padding: 30px 20px;

  &_container {
    @include container;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 45px;
    }

    h1 {
      font-size: $h1-sm;
      font-weight: 500;
      line-height: 1.25;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.8;
      margin: 10px 0 15px;
    }

    .home-hero_btn {
      margin-top: 25px;
    }
  }

  @media (min-width: 768px) {
    margin-top: 10vh;

    &_container img {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 820px) {
    padding: 0 20px 120px;

    &_container h1 {
      font-size: $h1-lg;
    }
  }
}

.ecosystem {
  width: 100%;
  margin-top: 30px;
  padding: 30px 20px;

  &_container {
    @include container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    .ecosystem_left {
      flex: 1 1 auto;

      h2 {
        font-size: $h2-sm;
        margin-bottom: 40px;
        font-weight: 500;
        line-height: 1.5;
      }

      .ecosystem__why {
        h3 {
          font-size: $h3-sm;
          line-height: 1.6;
          font-weight: 500;
        }

        p {
          font-size: $p-sm;
          color: $text-light;
          line-height: 1.8;
          font-weight: 400;
          margin: 5px 0 32px;

          span {
            color: $primary-blue;
          }
        }
      }
    }

    .ecosystem__right {
      flex: 1 1 auto;

      img {
        width: 100%;
        height: auto;
        margin-top: 20px;
      }

      .ecosystem__links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 15px 0;

        p {
          font-size: $p-sm;
          color: $primary-blue;
          font-weight: 500;
          line-height: 1.8;
          text-align: center;
        }

        .ecosystem__link--indent {
          margin-left: 24px;
        }
      }
    }
  }

  .ecosystem__press {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    .ecosystem__press {
      img {
        width: 710px;
        height: 40px;
      }
    }
  }

  @media (min-width: 820px) {
    padding: 0 20px 120px;

    &_container {
      gap: 30px;

      .ecosystem_left {
        flex: 1 1 39%;

        h2 {
          font-size: 24px;
        }
      }

      .ecosystem__right {
        flex: 1 1 56%;
      }
    }
  }
}

.home-pricing {
  width: 100%;
  padding: 30px 20px;

  &_container {
    @include container;

    .home-pricing_detail {
      width: 100%;
      display: flex;
      flex-direction: column;

      .home-pricing_left {
        flex: 1 1 auto;

        h2 {
          font-size: $h2-sm;
          color: #424242;
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 20px;
        }

        p {
          font-size: $p-sm;
          color: #424242;
          line-height: 1.8;
          font-weight: 400;
          margin: 16px 0 15px;
        }
      }

      .home-pricing_right {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .pricing_box {
          display: flex;
          align-items: center;
          padding-top: 10px;

          img {
            width: 85px;
            height: 62px;
          }

          p {
            font-size: 10px;
            color: #666666;
            line-height: 16px;
            font-weight: 400;
          }
        }
      }
    }

    .home-pricing-cta {
      font-size: $p-sm;
      color: #387ed1;
      font-weight: 500;
      line-height: 1.8;
      margin-bottom: 15px;
      padding-left: 10px;

      i {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  @media (min-width: 820px) {
    padding: 0 20px 120px 20px;

    .home-pricing_container {
      .home-pricing_detail {
        flex-direction: row;
        gap: 20px;

        .home-pricing_left {
          flex: 1 1 35%;

          h2 {
            font-size: $h2-lg;
          }
        }

        .home-pricing_right {
          flex: 1 1 50%;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .home-pricing_container {
      .home-pricing_detail {
        gap: 20px;

        .home-pricing_right {
          .pricing_box {
            img {
              width: 100px;
              height: 73px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1124px) {
    .home-pricing_container {
      .home-pricing_detail {
        flex-direction: row;
        gap: 20px;

        .home-pricing_left {
          flex: 1 1 35%;
        }

        .home-pricing_right {
          flex: 1 1 50%;

          .pricing_box {
            img {
              width: 120px;
              height: 88px;
            }
          }
        }
      }
    }
  }
}

.home-education {
  width: 100%;
  padding: 30px 20px;

  .home-education_container {
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .home-education_left {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }

    .home-education_right {
      flex: 1 1 auto;

      h2 {
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        margin: 16px 0 15px;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        color: $primary-blue;
        line-height: 1.7;
        font-weight: 500;
        text-align: center;

        i {
          font-size: 14px;
          margin-left: 10px;
        }
      }

      .tradingQA {
        margin: 30px 0 15px;
      }
    }
  }

  @media (min-width: 768px) {
    .home-education_container {
      .home-education_left {
        img {
          width: 477px;
          height: 350px;
        }
      }
    }
  }

  @media (min-width: 820px) {
    padding: 0 20px 100px;

    .home-education_container {
      flex-direction: row;
      gap: 12%;

      .home-education_left {
        flex: 1 1 30%;

        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }

      .home-education_right {
        flex: 1 1 36%;

        h2 {
          font-size: 24px;
        }
      }
    }
  }
}
