.button {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  background-color: #387ed1;
  color: #fff;
  border-radius: 3px;
}
