@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/breakpoints" as *;
@use "./styles/globals";

.not-found-section {
  width: 100%;

  .not-found-container {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.7;
    padding: 30px 20px;

    h4 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25;
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      margin: 10px 0 20px;

      span {
        color: #387ed1;
      }
    }
  }
}

@media (min-width: 820px) {
  .not-found-section {
    .not-found-container {
      padding: 100px 20px 80px;

      h4 {
        font-size: 18px;
      }

      h1 {
        width: 44%;
        font-size: 28px;
      }

      h5 {
        width: 47%;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .not-found-section {
    .not-found-container {
      padding: 100px 0 80px;
    }
  }
}
